:root {
  --gray-100: #f2f2f2;
  --gray-200: #d9d9d9;
  --gray-300: #808080;
  --gray-400: #333;
  --gray-500: #262626;
  --gray-600: #1a1a1a;
  --gray-700: #0d0d0d;
  --purple: #8284fa;
  --purpledark: #5e60ce;
  --blue: #4ea8de;
  --blue-dark: #1e6f9f;
  --danger: #e25858;
}

* {
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

main {
  margin: 0 auto;
  text-align: center;
}

.logo {
  margin-bottom: 10px;
}

button,
input,
.card-item {
  border-radius: 7px;
  padding: 7px 10px;
  border: none;
}

.header-wrapper {
  inline-size: 100%;
  background: var(--gray-700);
  block-size: 20vh;
}

.input-container {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  position: relative;
  top: -20px;
}

.title-input {
  inline-size: 100%;
  background-color: var(--gray-500);
  color: var(--gray-300);
  border: 1px solid var(--gray-700);
  border-radius: 8px;
  padding: 16px;
}

.button {
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  min-inline-size: 24px;
  min-block-size: 24px;
}

.add-button {
  background: var(--blue-dark);
  color: var(--gray-100);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.set-done-button {
  background-image: url(./images/set-done-logo.svg);
  min-inline-size: 20px;
}

.set-done-button.done {
  background-image: url(./images/done-logo.svg);
}

.remove-button {
  background-image: url(./images/remove-logo.svg);
}

.content {
  background-color: var(--gray-600);
  min-block-size: 80vh;
}

.content-wrapper {
  margin: 0 auto;
  max-inline-size: 750px;
  padding: 10px;
}

.card-list {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  gap: 5px;
  list-style: none;
}

.list-info {
  display: flex;
  justify-content: space-between;
  color: var(--blue);
}

.list-item {
  max-inline-size: 100%;
}

.card-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  background: var(--gray-500);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.06);
  border: 1px solid var(--gray-400);
  position: relative;
  max-inline-size: 100%;
  padding: 7px 10px;
}

.todo-item__title {
  display: block;
  overflow: hidden;
}

::-webkit-scrollbar {
  background-color: transparent;
}

.todo-item {
  padding: 16px;
  inline-size: 100%;
  color: var(--gray-100);
  overflow-x: hidden;
}

.completedTodo {
  text-decoration: line-through;
  color: var(--gray-300);
}
